.ff {
    max-width: 300px;
}

.top-nav {
    display: flex;
}

.option-nav {
    margin-top: 10px;
    margin-right: 10px;
}

.nav-wrapper {
    margin-left: 13px;
    margin-right: 13px;
}

.news-container {
    max-width: 450px;
}

.row-news {
    max-width: 900px;
    margin-top: 50px;
}